#header {
  display: block;
  width: 100%;
  background-color: #0d0b11;
  margin: 0;

  .logo {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 30;
    width: 250px;
    height: 112px;

    @media (max-width: 1225px) {
      left: 15px;
    }

    @media (max-width: 1125px) {
      position: static;
      margin: 0 auto 4px auto;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  nav {
    display: block;
    overflow: hidden;

    @media (max-width: 877px) {
      text-align: center;
    }

    .menu {
      display: none;

      @media (max-width: 877px) {
        display: inline-block;
        padding: 24px 0;
        min-width: 32px;
        color: #ffffff;
        font-family: Raleway, sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.07px;
        font-size: 18px;
        cursor: pointer;

        &:hover {
          color: $color-active;
        }

        &[hidden] {
          display: none;
        }
      }
    }

    ul {
      float: right;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: stretch;

      &[hidden] {
        display: flex;
      }

      @media (max-width: 1125px) {
        float: none;
      }

      @media (max-width: 877px) {
        flex-direction: column;
        align-items: center;

        &[hidden] {
          display: none;
        }
      }

      li {
        display: block;
        margin: 0 16px;

        &:first-child {
          margin-left: 0;

          @media (max-width: 877px) {
            margin-left: 16px;
          }
        }

        &:last-child {
          margin-right: 0;

          @media (max-width: 877px) {
            margin-right: 16px;
          }
        }

        a {
          display: block;
          position: relative;
          padding: 24px 0;
          letter-spacing: 0.07px;
          font-size: 18px;
          font-family: Raleway, sans-serif;
          text-transform: uppercase;
          color: #ffffff;

          &:hover {
            color: #a4a4a4;

            &::before, &::after {
              content: "";
              display: block;
              position: absolute;
              z-index: 10;
              left: 15px;
              right: 15px;
              border-top: 2px solid $color-active;
            }

            &::before {
              top: 1px;
            }

            &::after {
              bottom: 1px;
            }
          }
        }
      }
    }
  }
}
